<p>home works!</p>
<div class="row">
    <div class="col-6">
        <google-chart #chart
            [title]="title"
            [type]="type"
            [data]="data"
            [columnNames]="columnNames"
            [options]="options"
            [width]="width"
            [height]="height">
        </google-chart>
    </div>
    <div class="col-6">
        <google-chart #chart1
            [title]="title1"
            [type]="type1"
            [data]="data1"
            [columnNames]="columnNames1"
            [options]="options1"
            [width]="width1"
            [height]="height1">
        </google-chart>
    </div>
</div>